<div class="row mt-3">
  <% @tasks.each_slice(3) do |row| %>
    <% row.each do |task| %>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <% if completed?(task, current_user) %>
            <%= link_to (image_tag task.image, class: 'card-img-top img-fluid img-not-completed'), task_path(task) %>
          <% else %>
            <%= link_to (image_tag task.image, class: 'card-img-top img-fluid'), task_path(task) %>
          <% end %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= task.title %></h5>
            <p class="card-text"><%= task.description %></p>
            <% if completed?(task, current_user) %>
              <a href="<%= task_list_path(task, task.lists) %>" data-method="delete" class="btn btn-success">
                Completado
              </a>
            <% else %>
              <a href="<%= task_lists_path(task) %>" data-method="post" class="btn btn-primary">
                No completado
              </a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="w-100" style="margin-top: 20px"></div>
  <% end %>
</div>