<div class="row justify-content-center mt-3">
  <div class="text-center col-sm-12 col-md-12 col-lg-12">
    <h2><%= @task.title %></h2>
    <p><%= @task.description %></p>
  </div>

  <div class="text-center col-sm-12 col-md-12 col-lg-12">
    <% if @task.users.count == 0 %>
      <h5 class="alert alert-danger">Nadie ha completado está tarea aún.</h5>
    <% else %>
      <h5 class="text-info">Los siguientes usuarios han completado esta tarea:</h5>
      <ul class="list-group">
        <% @task.users.each do |user| %>
          <li class="list-group-item"><%= user.email %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="text-center col-sm-12 col-md-12 col-lg-12 mt-3">
    <h5 class="text-info">Primeras 5 personas en completar esta tarea:</h5>
    
    <ul class="list-group">
      <% @top5.each do |list| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-2">
              <%= image_tag list.user.image, class: 'imageTopFive img-thumbnail"'%>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10">
              <p>Usuario: <%= list.user.name %></p>
              <p>Tarea realizada: <%= list.created_at.localtime.to_formatted_s(:long) %></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>