// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-not-completed{
  filter: grayscale(100%);
}

.imageTopFive {
  max-width: 100px;
  max-height: 100px;
}