<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="#">Bienvenido <%= current_user.email %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info">Tareas completadas: <%= current_user.tasks.count %> / <%= @tasks.count %></a>
          </li>
        <% end %>
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="btn btn-outline-danger" href="<%= destroy_user_session_path %>" data-method="DELETE">Salir</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="btn btn-outline-primary mx-2 my-1" href="<%= new_user_session_path %>">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary mx-2 my-1" href="<%= new_user_registration_path %>">Sign up</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>